{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{%  static 'js/main.js' %}"></script>
</head>
<body>
    <h2>String interpolation</h2>
    <strong>Welcome</strong>&nbsp;&nbsp;{{uname}}

    {% comment %}
    <h2>Decision control instructions</h2>
    {% if x > y %}
        {{ x }} is greater
    {% else %}
        {{ y }} is greater
    {% endif %}
    {% endcomment %}

    <h2>Loop control instructions</h2>
    {% for x in l %}
        {{ x }}<br>
    {% endfor %}

    <button onclick="hello()">Click me</button>

    <h4>static images</h4>
    <img src="{% static 'images/frenchfood.jpg' %}" alt="">
</body>
</html>